*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
}


:root {
  --background-color: #ccc;
}


body{
    font-family: system-ui, sans-serif;
    background-color: var(--background-color);
}

header{
  padding: 30px;
}

button{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: var(--background-color);
  background-color: rgb(38, 34, 34);
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

h1{
  text-align: center;
  color: #333;
  text-decoration: underline;
  padding: 30px;
}

.library{
  display: grid;
  grid-template-columns: repeat(
    auto-fill,minmax(250px, auto)
  );
  align-items: center;
  justify-items: center;
  gap: 10px;
}

.book-card{
  width: 250px;
  height: 300px;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: rgb(240, 240, 240);
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.name{
    font-size: 25px;
    font-weight: 600;
    text-decoration: underline;
    text-align: center;
    color: #333;              
    margin-bottom: 8px;       
    text-transform: capitalize;
    height: 60px;
    
}

.content{
    text-align: left;
    padding: 10px;
}